<div class="container-fluid">
	<form (ngSubmit)="get()">
		<div class="input-group">
			<input type="search" class="form-control" placeholder="steamid64" autofocus [(ngModel)]="player.steamid">
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="button" (click)="get()">Go</button>
			</span>
		</div>
	</form>
	<br>
	<div [hidden]="!showLoader">
		<svg width='120px' height='120px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-default">
			<rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
			<rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(0 50 50) translate(0 -30)'>
				<animate attributeName='opacity' from='1' to='0' dur='1s' begin='0s' repeatCount='indefinite'/>
			</rect>
			<rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(30 50 50) translate(0 -30)'>
				<animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.08333333333333333s' repeatCount='indefinite'/>
			</rect>
			<rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(60 50 50) translate(0 -30)'>
				<animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.16666666666666666s' repeatCount='indefinite'/>
			</rect>
			<rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(90 50 50) translate(0 -30)'>
				<animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.25s' repeatCount='indefinite'/>
			</rect>
			<rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(120 50 50) translate(0 -30)'>
				<animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.3333333333333333s' repeatCount='indefinite'/>
			</rect>
			<rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(150 50 50) translate(0 -30)'>
				<animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.4166666666666667s' repeatCount='indefinite'/>
			</rect>
			<rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(180 50 50) translate(0 -30)'>
				<animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5s' repeatCount='indefinite'/>
			</rect>
			<rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(210 50 50) translate(0 -30)'>
				<animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5833333333333334s' repeatCount='indefinite'/>
			</rect>
			<rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(240 50 50) translate(0 -30)'>
				<animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.6666666666666666s' repeatCount='indefinite'/>
			</rect>
			<rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(270 50 50) translate(0 -30)'>
				<animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.75s' repeatCount='indefinite'/>
			</rect>
			<rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(300 50 50) translate(0 -30)'>
				<animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.8333333333333334s' repeatCount='indefinite'/>
			</rect>
			<rect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='#00b2ff' transform='rotate(330 50 50) translate(0 -30)'>
				<animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.9166666666666666s' repeatCount='indefinite'/>
			</rect>
		</svg>
	</div>
	<div *ngIf="friends.length > 0 && !showLoader">
		<h6>Friends:</h6>
		<div class="table-responsive">
			<table class="table" data-sortable>
				<thead>
					<tr>
						<th>Player</th>
						<th>Real name</th>
						<th>Location</th>
						<th>Friend since</th>
						<th>Last Steam login</th>
						<th>Dota lifetime hours</th>
						<th>Hours last 2 weeks</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="{{player.profileurl}}"><img src="{{player.avatar}}"><span style="margin-left: 10px;">{{player.personaname}}</span></a></td>
						<td>{{player.realname}}</td>
						<td>{{player.loccountrycode}} {{player.locstatecode}}</td>
						<td>{{player.timecreated | date:'y'}}-{{player.timecreated | date:'MM'}}-{{player.timecreated | date:'dd'}}</td>
						<td>{{player.lastlogoff | date:'y'}}-{{player.lastlogoff | date:'MM'}}-{{player.lastlogoff | date:'dd'}}</td>
						<td>{{player.playtime_forever}}</td>
						<td>{{player.playtime_2weeks}}</td>
					</tr>
					<tr *ngFor="#friend of friends">
						<td><a href="{{friend.profileurl}}"><img src="{{friend.avatar}}"><span style="margin-left: 10px;">{{friend.personaname}}</span></a></td>
						<td>{{friend.realname}}</td>
						<td>{{friend.loccountrycode}} {{friend.locstatecode}}</td>
						<td>{{friend.friend_since | date:'y'}}-{{friend.friend_since | date:'MM'}}-{{friend.friend_since | date:'dd'}}</td>
						<td>{{friend.lastlogoff | date:'y'}}-{{friend.lastlogoff | date:'MM'}}-{{friend.lastlogoff | date:'dd'}}</td>
						<td>{{friend.playtime_forever}}</td>
						<td>{{friend.playtime_2weeks}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div *ngIf="friends.length < 1">
		<div class="jumbotron">
			<div class="container-fluid">
				<h1 style="text-align: center;">Friend helper</h1>
				<br>
				<h4>What is this?</h4>
				<ul style="text-shadow: none;">
					<li>A tool to help you manage your friends list</li>
				</ul>
				<h4>How to use?</h4>
				<ul style="text-shadow: none;">
					<li>Enter the users SteamID64 (it's the number that is in most steam profile urls).  If the user has a vanity name, go to this website to get their SteamID64: <a href="https://steamid.io/">steamid.io</a></li>
					<li>Columns are sortable</li>
				</ul>
			</div>
		</div>
	</div>
</div>
